@import "../../styles/";

.footer {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    background-color: #000000;
    position: fixed;
    left: 50%;
    top: calc(100% - 3%);
    right: 50%;
    transform: translate(-50%, -50%);
    font-family: "Work-Sans", sans-serif;
    margin-top: auto;
}
